*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-image: url(../img/poto1.png);
    background: position y -200px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.order{
    width: 750px;
    height: 100px;
    background-color: #000000;
    border-radius:  20px;
    margin-left: 700px;
    margin-top: 58px;
    align-items: center;
    justify-content: center;
    margin-bottom: 92px;
    
}
.order a{
    font-size: 36px;
    padding: 5px 10px;
    color: #ffffff;
  
    
}

.reg{
    width: 750px;
    height: 70px;
    margin-left: 700px;
    
}
.reg input, .reg textarea{
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 38px;
    opacity: 50%;
    resize: none;
    border: none;
    border-bottom: 2px solid #beb1b1 ;
    
}

.adgili{
    font-size: 900;
    margin-bottom: 20px;
}
.metodi{
    margin-bottom: 52px;
    font-weight: 900;
}





.pay input{
    width: 5%;
    opacity: 100%;
    margin-bottom: 50px;
   
    
    
}
.pay label{
    font-weight: 900;
}

.reg input[type="submit"] {
    background-color: #01AF8C;
    opacity: 100%;
    cursor: pointer;
    border-bottom: 2px solid #000000;
    margin-bottom: 125px;
}







/* --------action---------- */

section{
    width: 750px;
    height: 394px;
    background-color: #021010;
    border-radius: 20px;
    text-align: center;
    margin-left: 600px;
    margin-top: 58px;
    position: absolute;
   
}
.satauri{
    color: #ffffff;
    margin-top: 70px;
    position: relative;
    
}
section h2{
    color: #ffffff;
    margin-top: 70px;
    
}
section p{
    color: #ffffff;
    margin-top: 70px;
}

.goback{
  width:  750px;
  height: 70px;
  background-color: #F5BA22;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 800px;
  margin-left: 600px;
  margin-bottom: 102px;
  position: absolute;
  
  
}


.goback a{
    padding: 5px 10px;
    color: #000000;
    font-size: 20px;
    
    
}